.results {
    /* margin: 0 !important; */
    padding: 3rem 0 5rem 0 !important;
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 2rem 2rem;
    grid-auto-flow: column dense;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
    margin-bottom: 2rem;
}
@media only screen and (max-width: 1400px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem 2rem;
        grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . .";
    }
}
@media only screen and (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem 2rem;
        grid-template-areas:
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."
        ". .";
    }
}
@media only screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 2rem 2rem;
        grid-template-areas:
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        "."
        ".";
    }
}

.loadMore {
    width: fit-content !important;
    font-size: 1.2rem !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    letter-spacing: 0.05rem;
    margin-top: 3rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
}